---
import { Image } from 'astro:assets';

interface Props {
  src: string;
  alt: string;
  width: number;
  height: number;
}

let { src, alt, width, height }: Props = Astro.props;
---

<div>
  <Image
    src={src}
    alt={alt}
    width={width}
    height={height}
    loading="eager"
    id={`image-${src}`}
    class="base-image"
    onload="this.classList.add('loaded')"
  />
  <div class="modal" id={`modal-${src}`}>
    <div class="modal-content">
      <span class="close" id={`close-${src}`}> &times; </span>
      <img src={src} alt={alt} />
    </div>
  </div>
</div>

<script define:vars={{ src }}>
  document.addEventListener("astro:page-load", () => {
    const image = document.getElementById(`image-${src}`);
    const modal = document.getElementById(`modal-${src}`);
    const close = document.getElementById(`close-${src}`);
    let scrollPosition = 0;

    const openModal = () => {
      scrollPosition = window.scrollY;
      modal.style.display = "flex";
      window.location.hash = src;
    };

    const closeModal = () => {
      modal.style.display = "none";
      window.location.hash = "";
      window.scrollTo(0, scrollPosition);
    };

    if (window.location.hash === `#${src}`) {
      openModal();
    }

    image.addEventListener("click", openModal);
    close.addEventListener("click", closeModal);

    window.addEventListener("click", (event) => {
      if (event.target === modal) {
        closeModal();
      }
    });
  });
</script>

<style>
  .base-image {
    cursor: pointer;
    width: 400px;
    height: auto;
    object-fit: cover;
  }
  
  .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none !important;
    margin: unset;
  }

  .modal-content {
    max-height: 80vh;
    position: relative;
  }

  .modal-content img {
    max-height: 75vh;
  }

  .close {
    position: absolute;
    top: -1.25em;
    right: -0.75em;
    color: var(--background);
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: color var(--transition-fast);
  }
  
  .close:hover {
    color: var(--primary);
  }

  @media (max-width: 720px) {
    .modal-content img {
      max-width: 95vw;
      width: auto;
    }

    .close {
      top: unset;
      bottom: -1em;
      right: 0;
    }
  }
</style>
